#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        // Definicja zachowania: przytrzymanie = warstwa, kliknięcie = klawisz
        up_layer: up_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "UP_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <600>;    // Czas przytrzymania
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;    // Kolejność: hold (warstwa), tap (klawisz)
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LEFT    &up_layer 1 UP   /* ZMIANA: Tu używamy nowego zachowania */
                &kp DOWN    &kp RIGHT
            >;
        };

        service_layer {
            bindings = <
                /* Kiedy trzymasz UP, naciśnij klawisz LEFT (lewa góra), aby wyczyścić BT */
                &bt BT_CLR  &none            
                &none       &none
            >;
        };
    };
};
