#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        /* Definicja zachowania: trzymanie = pierwszy klawisz, kliknięcie = drugi klawisz */
        ht_kp: hold_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP";
            #binding-cells = <2>;
            tapping-term-ms = <400>;    // Czas przytrzymania (0.4 sekundy)
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        /* Zachowanie dla wejścia w warstwę serwisową (zostawiamy, żebyś mógł czyścić BT) */
        layer_up: layer_up {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_UP";
            #binding-cells = <2>;
            tapping-term-ms = <1000>;   // Dłuższe przytrzymanie (1 sekunda), by wejść w ustawienia
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Lewy Górny: Klik = LEFT, Przytrzymanie = Nic (możesz tu coś dodać) */
                &ht_kp LT GT         &ht_kp RIGHT UP
                
                /* Lewy Dolny: Klik = DOWN, Przytrzymanie = LEFT */
                &ht_kp LEFT DOWN  &kp A
            >;
        };

        service_layer {
            bindings = <
                &bt BT_CLR  &none
                &none       &none
            >;
        };
    };
};
